
  /* -----Buying prod user Starts ----- */

  .buying-main {
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .buying-img{
    width: 25rem;
    object-fit: contain;
    margin-left: 1rem;
    margin-top: 5rem;
  }
  
  .buying-payment{
    width: 50rem !important;
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    padding: 1rem;
    margin-top: 20px;
  margin-left: 8rem;
  }
  
  .buy-image-container{
    width: 30rem;
  }

  /* BuyingprodUser.css */

.address-item {
  display: flex;
  text-align: left;
  
}
.address-radio {
  margin-right: 10px;
}


.address-name {
  font-size: 16px;
  margin: 0;
}
.address-city, .address-details {
  font-size: 14px;
  margin: 0;
}


.product-details {
  text-align: center;
}



/* BuyingprodUser.css */
.card-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.payment-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.payment-btn:hover {
  background-color: #0056b3;
}






    /* ----- Buying prod user Ends ----- */


    
.Buy-address-box{
  /* border: 1px solid red;   */
  padding: 1rem 0;
}

.Buy-address-item {
  display: flex;
  text-align: left;
  
}
.Buy-address-radio {
  margin-right: 10px;
}


.Buy-address-name {
  font-size: 16px;
  margin: 0;
}
.Buy-address-city, .CartBuy-address-details {
  font-size: 14px;
  margin: 0;
}

 
.Buy-buying-payment{
  width: 40rem !important;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  padding: 1rem;
  margin-left: 2rem;
}

.Buy-card-input {
  width: 100%;
  padding: 10px;  
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Buy-payment-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Buy-payment-btn:hover {
  background-color: #0056b3;
}
