

/* ----- fullproducts user starts---- */
.fullU-main{
  position: relative;
  right: -2rem;
 top: 5rem;
 width: 100%;
 padding: 1rem;
 text-decoration: none;
}

.fullU-col {
  margin: .5rem; 
  width: 12rem !important;
  height: 11rem;
}

.fullU-img{
  width: 12rem;
  height: 10rem;
  object-fit: contain;
  padding-top: .25rem;
  margin: 0;
}

.fullU-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.812) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  overflow: hidden;
}

.fullU-price{
  text-align: center;
  font-weight: 660;
}
