

/* ----- fullproducts user starts---- */
/* .fullU-bg{
  background: rgb(0,0,0);
 background: linear-gradient(119deg, rgba(0,0,0) 10%, rgba(212,20,35),rgb(39, 39, 227) 100%);
 min-height: 695px;
} */
.fullU-main{
 width: 100%;
 padding-left: 2rem;
 text-decoration: none;
 margin-top: 5rem;
}

.fullU-col {
  margin: 1.7rem; 
  width: 15rem !important;
  height: 17rem;
}

.fullU-img{
  width: 12rem;
  height: 10rem;
  object-fit: cover;
  padding: .25rem;
  margin: 10px 0 0 10px;
  border-radius: 5px;
}

.fullU-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.812) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  text-align: center;
}

.fullU-price{
  text-align: center;
  font-weight: 660;
  color: black;
}
