
 
 /* ----- Full products Seller starts ----- */
/* 
 .fullS-bg{
  background: rgb(0,0,0);
  background: linear-gradient(119deg, rgba(0,0,0) 10%, rgba(212,20,35),rgb(39, 39, 227) 100%);
  min-height: 711px;
 } */
 .fullS-main{
  width: 100%;
 padding-left: 2rem;
 margin-top: 2rem;
 text-decoration: none;
}
 
 .fullS-col {
  margin-top: 1rem;
  margin-left: 1rem; 
  margin-bottom: 3rem;
  width: auto !important;
  height: 20rem;
  border: none;
  background: none;
}
 
 .fullS-img{
  width: 15rem;
  height: 18rem;
  object-fit: cover;
  padding: .25rem;
  margin: 10px 0 0 10px;
  border-radius: 8px;
}
 
 .fullS-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.886) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  text-align: center;
  margin-left: 2rem;
}

 
 .fullS-price{
  text-align: center;
  font-size: medium;
  font-weight: 500;
  color: black;
 }
 
 
  /* ----- Full products Seller Ends ----- */