
/* ...... navbaruser starts...... */

.nav-position{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  gap: 6%;
  padding: 10px;
  margin: 0;
  background-color: #28373A;
  padding-top: 15px;
  text-decoration: none;
  flex-wrap: wrap;
  align-content: center;
  }
  .navuser-li{
    list-style-type: none;
  }
  .nav-ahref{
    text-decoration: none;
    color: white;
    font-weight: bold;
   }
   .nav-ahref:hover{
    color: #EE9F43;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  .nav-heading{
    color: #EE9F43;
    font-family:courier; 
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    margin: 20px 35px 0px 20px;
  }
  .nav-out{
    display: flex;
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 60px;
    padding-left: 13px;
    padding-top: 4px;
    width: 80px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    text-align: center;
  }
  .nav-out:hover{
    background-color: #EE9F43;
  }
  .search-barnav{
    color:black;
    width: 200px;
    display: flex;
    margin-left: 5px;
    border-radius: 6px;

  }
  /* .search-barnav:hover{
    color: #EE9F43; */
  /* } */
  .btn-search{
   margin: auto;
   border-radius: 10px;
   color: #EE9F43;
   background-color: #44949F;
   font-weight: bold;
  }

  .search-box{
    display: flex;
  }
  /* ......navbaruser ends...... */