

/* ------Newprodseller starts------ */
/* .prodseller-main-bg{
  margin-top: -11rem;
  width: 100%;
  height: 853px;
  background-image: url('../images/newprod.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
} */
.prodseller-main{
    min-height: 550px;
    width: 80%;
    padding-top: 30px;
    background-color: #EE9F43;
    border-radius: 10px;
    margin-top: 3rem;
    margin-left: 10rem;
    /* margin-left: 32rem;  */
    /* position:absolute;
    right: 30rem;
    top: 1.5rem; */
    background-color:hsl(222, 50%, 72%);
    box-shadow: 8px 8px 20px rgb(143, 144, 144);
   padding: 3rem;
}

.prodseller-main2{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: flex-end;
}
.prodseller-main3{
  display: flex;
    justify-content: flex-start;
    gap: 17rem;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 1rem;
}

.prod-sellerhead{
  text-align: center;
 margin-bottom: 2rem;
 color: white;
 font-weight: bold;
 text-decoration: underline;
 text-underline-offset: .5em;
}
.prod-sellerlabel{
  margin-top: 25px;
  font-weight: 400;

}
.prod-sellerinput{
  width: 15rem;
  border-radius: 5px;
  border-color: transparent;
  margin-left: 10px;
  justify-content: center;
}



.new-prod-btn{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  width: 10rem;
  height: 40px;
  font-size: medium;
  font-weight: bold;
  margin: 50px 0px 10px 500px;
}

.new-prod-btn:hover{
  background-color: #E35F14;
}

.new-prod-btn:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.new-prod-label{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0rem .8rem;
}
.new-prod-label-box{
  margin-top: 1rem;
  margin-left: 10rem;
}
/* -----newprod seller ends----- */