.ownS-main{
  position: relative;
  right: -2rem;
 top: 5rem;
 width: 100%;
 padding: 1rem;
 text-decoration: none;
}

.ownS-col {
  margin: .5rem; 
  width: 12rem !important;
  height: 18rem;
}

.ownS-img{
  opacity: 1;
  display: block;
  width: 12rem;
  height: 10rem;
  object-fit: contain;
  padding-top: .5rem;
  padding-right: 1rem;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* -------------- */

/* .image {

  width: 100%;
  height: auto;
 
} */

.ownS-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ownS-container:hover .ownS-img {
  opacity: 0.3;
}

.ownS-container:hover .ownS-middle {
  opacity: 1;
}

.ownS-text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* -------------- */

.ownS-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.812) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  text-align: center;

}

.ownS-price{
  text-align: center;
  font-weight: 660;
}
.ownS-edit-btn{
  width: 6rem;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.745);
  border-radius: 50%;
 
  padding: .5rem;
}
.ownS-edit-img{
  object-fit: contain;

}
/* ------------------------------------------------ */


/* .ownS-main-bg{
  margin-top: -5rem;
  width: 100%;
  height: 853px;
  background-image: url('../images/newprod.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
} */
.ownS-main2{
  position: absolute; /* Makes the form fixed on the screen */
  top: 10;
  left: 0;
  z-index: 1000;
    min-height: 550px;
    width: 33%;
    padding-top: 30px;
    background-color: #EE9F43;
    border-radius: 10px;
    margin-top: -14rem;
    margin-left: 30rem;
    /* margin-left: 32rem;  */
    /* position:absolute;
    right: 30rem;
    top: 1.5rem; */
    background-color:hsl(222, 50%, 72%);
    box-shadow: 8px 8px 20px rgb(143, 144, 144);
    
}
.ownS-sellerhead{
 text-align: center;
 margin-bottom: 1rem;
 color: white;
 font-weight: bold;
 text-decoration: underline;
 text-underline-offset: .5em;
}
.ownS-sellerlabel{
  margin-left: 5rem;
  margin-top: 25px;
  font-weight: 400;
}
.ownS-sellerinput{
  width: 15rem;
  border-radius: 5px;
  border-color: transparent;
  margin-left: 10px;
  justify-content: center;

}



.ownS-prod-btn{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  width: 10rem;
  height: 40px;
  font-size: medium;
  font-weight: bold;
  margin: 30px 0px 10px 190px;
}

.ownS-prod-btn:hover{
  background-color: #E35F14;
}

.ownS-prod-btn:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.ownS-prod-label{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0rem .8rem;
}
.ownS-prod-label-box{
  margin-top: 1rem;
  margin-left: 10rem;
}

.ownS-img-preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
}


/* ----- orderdetails seller starts----- */
/* .orderS-main{
  position: relative;
  right: -2rem;
  top: 2rem;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
 }

 .orderS-img{
   width: 12rem;
   height: 10rem;
   object-fit: contain;
   padding: 1rem;
 }
 
 .orderS-flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid rgba(0, 0, 0, 0.455);
   margin: 0.5rem;
   width: 90rem;
}

.orderS-details{
 color: #E35F14 !important;
 font-weight: bold;
 height: 2.5rem;
 width: 20rem;
}

.orderS-price{
 text-align: center;
 font-weight: 660;
 color: black;
}

.orderS-rating{
 color: black;
}
.orderS-date{
 margin-right: 2rem;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */