

/* ------profileedit seller starts------ */
.profeditS-main{
  width: 30rem;
  margin: 2rem;
  margin-left: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: #44949F;
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  align-items: center;
  padding: 5rem;
}


.profeditS-input{
  width: 300px;
  height: 50px;
  border-radius:.5rem;
  box-shadow: inset 0px 0px 20px 0px white;
  border: none;
  outline: none;
  background-color: #fff;
  margin: .5rem 0rem;
}

.profeditS-label{
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0rem 2rem;
}

.profeditS-button{
  color: white;
  background-color: #E35F14;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 13rem;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin: 30px 0px 10px 40px;
}


.profeditS-button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}
.profeditS-input::placeholder{
  text-align: center;
}


.profeditS-imageupload-label{
  color: white;
 
}

.profeditS-imageupload-box{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  display:flex;
  gap: 1rem;
  width: 27rem;
}
/* ----profile edit seller ends----- */