

/* ------profileedit seller starts------ */
.profeditS-main{
  width: 30rem;
  margin: 2rem;
  margin-left: 30rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  /* background-color: rgba(209, 209, 209, 0.515); */
  background-color: white;
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  align-items: center;
  padding:2rem 4rem;
}


.profeditS-input{
  border: 1px solid black;
  border-radius: 5px;
  width: 22rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-indent: 2rem;
}

.profeditS-label{
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0rem 2rem;
}

.profeditS-button{
  color: white;
  background-color: #E35F14;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 13rem;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin: 30px 0px 10px 70px;
}


.profeditS-button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}
.profeditS-input::placeholder{
  text-align: center;
}




.profeditS-imageupload-box{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display:flex;
  gap: 1rem;
  width: 27rem;
  color: black;
}
/* ----profile edit seller ends----- */