

  /* selleruser starts */
  .selleruser-main{
    position: relative;
    right: -2rem;
    top: 3.5rem;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin-left: 2rem;
   }
 
   .selleruser-flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     color: #E35F14;
     font-weight: bold;
     font-size: large;
     border-bottom: 2px double black;
     border-bottom-style: dotted;
     border-left: 2px double black;
     border-left-style: dotted;
     border-right: 2px double black;
     border-right-style: dotted;
   }
 
   .selleruser-image{
     width: 8rem;
     height: 8rem;
     margin: 1rem;
     border-radius: 50%;
     overflow: hidden;
     background-color: #e3601484;
     border: 1px solid black;
   }
 
   
 
   .selleruser-banbutton{
     color: white;
     background-color: #44949F;
     border: 1px solid transparent;
     border-radius: 100px;
     padding: 8px;
     width: 6rem;
     height: 40px;
     font-size: small;
     font-weight: bold;
     margin: 10px 150px 10px 0px;
   }
   
   .selleruser-banbutton:hover{
     background-color: #E35F14;
   }
   
   .selleruser-banbutton:active { 
     transform: scale(0.98); 
     box-shadow: 3px 2px 22px 1px #E35F14; 
   }
   .view-button{
    color: white;
     background-color: #44949F;
     border: 1px solid transparent;
     border-radius: 100px;
     padding: 8px;
     width: 6rem;
     height: 40px;
     font-size: small;
     font-weight: bold;
     margin: 10px 15px 10px 0px;
     text-decoration: none;
   }
   .view-button:hover{
    background-color: #E35F14;
   }
   .view-button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }
  .select-reason{
    color: #E35F14;
    border-radius: 10px;
    margin-left: 5px;
    border-color: #44949F;
  } 
  /* ......selleruser ends...... */