html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.Link-decoration{
  text-decoration: none;
}
 /* ----- Navbar of admin Starts ----- */
.nav-admin{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}


.nav-flex{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  flex-wrap: wrap;
  gap: 4%;
  padding: 15px;
  margin: 0;
  background-color: gray;
}
.nav-li{
  list-style: none;
}

.nav-a{
 text-decoration: none;
 color: white;
 font-weight: bold;
}

.nav-a:hover{
  color: #EE9F43;
  text-decoration: underline;
  text-underline-offset: .5em
}

.nav-search{
  margin-left: -50px;
  color: white;
  border: 1px solid #EE9F43;
  border-radius: 100px;
  width: 80px;
  height: 25px;
  font-size: small;
  font-weight: bold;
  margin-top: 4px;
  background-color: gray;
}

.nav-search:hover{
  background-color: #EE9F43;
}

.nav-search:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #EE9F43; 
}

.nav-logout{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 85px;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin-top: 0px;
}

.nav-logout:hover{
  background-color: #EE9F43;
}

.nav-logout:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.sics-logo{
  padding: 0%;
  width: 100px;
  height: 85px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.nav-title{
  color: #EE9F43;
  font-family:courier; 
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  margin: .5rem 0rem 0rem 5rem;
  
}

input.nav-searchbar:focus {
  background-color: #EE9F43;
  color:white;
}

input.nav-searchbar{
  height: 30px;
  width: 250px;
}

.nav-toggle{
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  pointer-events: none;
}


.nav-close{
  display: none;
  padding: 0%;
  margin: 0%;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  pointer-events: none;
}

@media(max-width:62em){
  
  .nav-toggle{
    display: block;
    z-index: 999;
    position: absolute;
    top:1em;
    right: 2em;
    visibility: visible;
    opacity: inherit;
  }
  

  .menu-container:focus-within .nav-toggle {
    display: block;
    z-index: 999;
    position: absolute;
    top:1em;
    right: 2em;
    visibility: visible;
    opacity: inherit;
  }

  .nav-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  input.nav-searchbar:focus {
    background-color: #EE9F43;
    color:white;
  }

  input.nav-searchbar{
    height: 30px;
    width: 150px;
    margin: auto;
  }

   .nav-search,.nav-logout{
    margin: auto;
   }

  .nav-li,.nav-search,.nav-searchbar,.nav-logout{
    display: block;
  }
}

/* ----- Navbar of admin Ends ----- */

/* ----- Registration Starts ----- */

.reg-main{
  width: 30%;
  height: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  background-color: #EE9F43;
}

.reg-title{
  color: #44949F;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: .3em;
  margin: 25px;
}

.reg-submain{
  text-align: center;
}



.reg-oldUser{
  position: relative;
  left: 50%;
  width: 60%;    
  padding: 0%;
  margin: 5%;
}

.reg-loginText{
  font-size: small;
  padding: 3%;
  margin: -7%;
  text-align: center;
  color: white;
}

.reg-login{
  height: auto;
}

.reg-login{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 85px;
  height: 40px;
  font-size: x-small;
  font-weight: bold;
}

.reg-login:hover{
  background-color: #E35F14;
}

.reg-login:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

.reg-label{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0rem .8rem;
}

.reg-input{
  width: 280px;
  height: 50px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px 0px white;
  border: none;
  outline: none;
  background-color: #fff;
  margin: .5rem 0rem;
}

input.reg-input{
  height: 40px;
  width: 250px;
}

input.reg-input:focus {
  background-color: #44949F;
  color:white;
  font-size: large;
  text-indent: 1.5rem;
}

.reg-input::placeholder {
  text-indent: 2rem;
}

.reg-button{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 13rem;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.reg-button:hover{
  background-color: #E35F14;
}

.reg-button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

input.reg-number::-webkit-inner-spin-button, 
input.reg-number::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
 /* ----- Registration Ends ----- */

 /* ----- Full products Admin starts ----- */

 .fullA-main{
  position: relative;
  right: -2rem;
 top: 5rem;
 width: 100%;
 padding: 1rem;
 text-decoration: none;
}

.fullA-col {
  margin: .5rem; 
  width: 12rem !important;
  height: 11rem;
}

.fullA-img{
  width: 12rem;
  height: 10rem;
  object-fit: contain;
  padding-top: .25rem;
  margin: 0;
}

.fullA-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.812) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  overflow: hidden;
}

.fullA-price{
  text-align: center;
  font-weight: 660;
}


 /* ----- Full products Admin Ends ----- */

  /* ----- Ban list Admin starts ----- */

  .ban-main{
   position: relative;
   right: -2rem;
   top: 3.5rem;
   width: 90%;
   height: auto;
   padding: 1rem;
   margin-left: 2rem;
  }

  .ban-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #E35F14;
    font-weight: bold;
    font-size: large;
    border-bottom: 2px double black;
    border-bottom-style: dotted;
    border-left: 2px double black;
    border-left-style: dotted;
    border-right: 2px double black;
    border-right-style: dotted;
  }

  .ban-image{
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e3601484;
    border: 1px solid black;
  }

  .ban-name{
    border: 1px solid red;
  }

  .ban-button{
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 8px;
    width: 6rem;
    height: 40px;
    font-size: small;
    font-weight: bold;
    margin: 10px 150px 10px 0px;
  }
  
  .ban-button:hover{
    background-color: #E35F14;
  }
  
  .ban-button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }

  
  .ban-profButton{
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 8px;
    width: 8rem;
    height: 40px;
    font-size: small;
    font-weight: bold;
  }
  
  .ban-profButton:hover{
    background-color: #E35F14;
  }
  
  .ban-profButton:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }

  /* ----- Ban list Admin Ends ----- */

  /* ----- Order Details Admin Starts ----- */

  .orderD-main{
   position: relative;
   right: -2rem;
   top: 5rem;
   width: 100%;
   padding: 1rem;
   text-decoration: none;
  }

  .orderD-img{
    width: 12rem;
    height: 10rem;
    object-fit: contain;
    padding: 1rem;
  }
  
  .orderD-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.455);
    margin: 0.5rem;
    width: 90rem;
}

.orderD-details{
  color: #E35F14 !important;
  font-weight: bold;
  height: 2.5rem;
  width: 20rem;
}

.orderD-price{
  text-align: center;
  font-weight: 660;
  color: black;
}

.orderD-rating{
  color: black;
}
.orderD-date{
  margin-right: 2rem;
}

  /* ----- Order Details Admin Ends ----- */

  
  /* ----- Profile User Starts ----- */

  .profU-name{
    width: 30rem;
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    padding: 1rem;
    margin:5%;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    position: relative;
    left: 2.3rem;
    top: 3rem;
    align-items: center;
  }

  .profU-name1{
    width: 30rem;
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    padding: 1rem;
    margin:5%;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    position: relative;
    left: 0rem;
    top: 3rem;
    align-items: center;
  }

  .profU-img{
    border: black;
    border-radius: 50%;
    object-fit: contain;
    width: 7rem;
    height: 7rem;
  
  }

  .profU-left{
    margin: auto;
    font-size: large;
    font-weight: 500;
    text-align: center;
  }

  .profU-left1{
  margin-left: 1rem;
  font-size: large;
  font-weight: bold;
  text-align: left;
  }

  .profU-logout{
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 8px;
    width: 85px;
    height: 40px;
    font-size: small;
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 45%;
  }
  
  .profU-logout:hover{
    background-color: #EE9F43;
  }
  
  .profU-logout:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }

  .profU-details{
    position: relative;
    left: 2rem;
    top: 3rem;
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    padding: 1rem;
  }

  .profU-head{
    text-align: center;
  }

  .profU-body{
    margin: 3rem;
    font-size: large;
  }

  .profU-edit{
    color: white;
    background-color:  #EE9F43;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 8px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 45%;
    letter-spacing: .1rem;
  }
  
  .profU-edit:hover{
    background-color:  #44949F;
  }
  
  .profU-edit:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px  #44949F; 
  }


  /* ----- Profile User Ends ----- */


  /* ----- Profile Edit User Starts ----- */

  .profeditU-main{
    width: 30rem;
    margin: 2rem;
    margin-left: 30rem;
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    align-items: center;
    padding: 5rem;
  }

  .profeditU-input{
    width: 280px;
    height: 50px;
    border-radius:.3rem;
    box-shadow: inset 0px 0px 20px 0px white;
    border: none;
    outline: none;
    background-color: #fff;
    margin: .5rem 0rem;
  }

  .profeditU-label{
    color: #E35F14;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0rem 2rem;
  }

  .profeditU-button{
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 8px;
    width: 13rem;
    height: 40px;
    font-size: small;
    font-weight: bold;
    margin: 30px 0px 10px 40px;
  }
  
  .profeditU-button:hover{
    background-color: #E35F14;
  }
  
  .profeditU-button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }

  /* ----- Profile Edit User Ends ----- */


  /* ----- Individual products user Starts ----- */

  .carousel-control-next,
  .carousel-control-prev {
      filter: invert(100%);
  }

  .indprodU-img{
    width: 40rem;
    height: 30rem;
    object-fit: contain;
  }

  
  .radio-toolbar {
    margin: 20px;
  }
  
  .indprodU-input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .indprodU-label {
      display: inline-block;
      background-color: transparent;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 50%;
      margin: .2rem;
  }
  
  .indprodU-input[type="radio"]:focus + label {
      border: 2px solid #444;
  }
  
  .indprodU-input[type="radio"]:checked + label {
      background-color: #EE9F43;
      border-color: #44949F;
  }
  
  .indprodU-buy-btn{
    margin-left: 18rem;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: #EE9F43;
    color: #fff;
    font-size: large;
    border-style: solid;
    border-color: #EE9F43;
    position: relative;
    top: -70px;
  }
  .indprodU-buy-btn:hover{
    background-color: #44949F;
  }

  .indprodU-price{
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
  }

  .indprodU-rating{
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
  }
  .indprodU-details{
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    padding: 1rem;
    width: 50rem;
  }
  .indprodU-spec{
    font-weight: bold;
    font-style: italic;
  }
  .indprodU-part{
    margin-top: 20px;
  }

  .indprodU-title{
    text-transform:uppercase;
    margin-top: 2rem;
  }
  /* ----- Individual products user Ends ----- */

 /* ----- Navbar seller Starts ----- */
  .nav-Seller{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
  }
  
  
  .navS-flex{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    flex-wrap: wrap;
    gap: 4%;
    padding: 15px;
    margin: 0;
    background-color: gray;
    gap: 3.2rem;
  }
  .navS-li{
    list-style: none;
  }
  
  .navS-a{
   text-decoration: none;
   color: white;
   font-weight: bold;
  }
  
  .navS-a:hover{
    color: #EE9F43;
    text-decoration: underline;
    text-underline-offset: .5em
  }
  
  .navS-search{
    margin-left: -50px;
    color: white;
    border: 1px solid #EE9F43;
    border-radius: 100px;
    width: 80px;
    height: 25px;
    font-size: small;
    font-weight: bold;
    margin-top: 4px;
    background-color: gray;
  }
  
  .navS-search:hover{
    background-color: #EE9F43;
  }
  
  .navS-search:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #EE9F43; 
  }
  
  .navS-logout{
    color: white;
    background-color: #44949F;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 8px;
    width: 85px;
    height: 40px;
    font-size: small;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .navS-logout:hover{
    background-color: #EE9F43;
  }
  
  .navS-logout:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px #E35F14; 
  }
  
  .sics-logo{
    padding: 0%;
    width: 100px;
    height: 85px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
  
  .navS-title{
    color: #EE9F43;
    font-family:courier; 
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    margin: .5rem 0rem 0rem 5rem;
    
  }
  
  input.navS-searchbar:focus {
    background-color: #EE9F43;
    color:white;
  }
  
  input.navS-searchbar{
    height: 30px;
    width: 10rem;
  }
  
  .navS-toggle{
    display: none;
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    pointer-events: none;
  }
  
  
  .navS-close{
    display: none;
    padding: 0%;
    margin: 0%;
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    pointer-events: none;
  }
  

  
 /* ----- Navbar seller Ends ----- */

 
 /* ----- Full products Seller starts ----- */

 .fullS-main{
 position: relative;
 right: -2rem;
 top: 5rem;
 width: 100%;
 padding: 1rem;
 text-decoration: none;
}

.fullS-col {
  margin: .5rem; 
  width: 12rem !important;
  height: 11rem;
}

.fullS-img{
  width: 12rem;
  height: 10rem;
  object-fit: contain;
  padding-top: .25rem;
  margin: 0;
}

.fullS-name{
  font-size: small ;
  color: rgba(51, 49, 49, 0.812) !important;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  overflow: hidden;
}

.fullS-price{
  text-align: center;
  font-weight: 660;
}


 /* ----- Full products Seller Ends ----- */

  /* -----Buying prod user Starts ----- */

.buy-maindiv{
  position: relative;
  top: 2rem;
  left: 5rem; 
}

.buying-main{
  margin: 2rem;
  width: 90rem; 
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
}

.buying-img{
  width: 5rem;
  object-fit: contain;
  margin-left: 10rem;
  height: 20rem;
}

.buying-payment{
  width: 49rem !important;
  margin: 2rem;
  border: 1px solid rgb(180, 179, 179);
  border-radius: .5rem;
  background-color: rgba(209, 209, 209, 0.515);
  box-shadow: 2px 2px 10px rgb(143, 144, 144);
  padding: 1rem;
}

.buy-input{
  color: white;
  border: 1px solid #EE9F43;
  border-radius: 100px;
  width: 22rem;
  height: 3rem;
  font-size: small;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 1rem;
}

.buy-input::placeholder{
  text-indent: 2rem;
}

.buy-savebtn{
  color: white;
  background-color: #44949F;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px;
  width: 85px;
  height: 40px;
  font-size: small;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20rem;
}

.buy-savebtn:hover{
  background-color: #EE9F43;
}

.buy-savebtn:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px #E35F14; 
}

  /* ----- Buying prod user Ends ----- */

    /* -----Individual prod seller Starts ----- */

    .main-div{
      position: relative;
      top:4rem;
    }

    .carousel-control-next,
  .carousel-control-prev {
      filter: invert(100%);
  }

  .indprodS-img{
    width: 40rem;
    height: 30rem;
    object-fit: contain;
  }

  
  .radio-toolbar {
    margin: 20px;
  }
  
  .indprodS-input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .indprodS-label {
      display: inline-block;
      background-color: transparent;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 50%;
      margin: .2rem;
  }
  
  .indprodS-input[type="radio"]:focus + label {
      border: 2px solid #444;
  }
  
  .indprodS-input[type="radio"]:checked + label {
      background-color: #EE9F43;
      border-color: #44949F;
  }
  
  .indprodS-buy-btn{
    margin-left: 18rem;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: #EE9F43;
    color: #fff;
    font-size: large;
    border-style: solid;
    border-color: #EE9F43;
    position: relative;
    top: -70px;
  }
  .indprodS-buy-btn:hover{
    background-color: #44949F;
  }

  .indprodS-price{
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
  }

  .indprodS-rating{
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
  }
  .indprodS-details{
    border: 1px solid rgb(180, 179, 179);
    border-radius: .5rem;
    background-color: rgba(209, 209, 209, 0.515);
    box-shadow: 2px 2px 10px rgb(143, 144, 144);
    padding: 1rem;
    width: 50rem;
  }
  .indprodS-spec{
    font-weight: bold;
    font-style: italic;
  }
  .indprodS-part{
    margin-top: 20px;
  }

  .indprodS-title{
    text-transform:uppercase;
    margin-top: 2rem;
  }

      /* -----Individual prod seller  Ends ----- */